{% extends 'wrapper.html' %}

{% block title %}
	{% if show == 'subscribes' %}
		Подписки
	{% else %}
		Пользователи Project name
	{% endif %}
{% endblock %}

{% block content %}
	{% load static %}
	{% load bootstrap4 %}
	<div class="users-wrapper">
		<h1 class="users-h1">{% if show == 'subscribes' %}Подписки {{ users|length }}{% else %}Пользователи Project name{% endif %}</h1>
		{% if users|length > 0 %}
			{% bootstrap_pagination page size='none' url=all %}
		{% endif %}
	</div>
	<div class="users">
		<div class="articles">
			<div class="users-flex">
				{% for user_data in users %}
					<div class="user-block">
						<div>
							<a href="{% url 'news:profile' user_data.pk %}">
								{% if user_data.avatar and user_data.is_active %}
									<img src="{{ user_data.avatar.url }}">
								{% else %}
									<img src="{% static 'img/user.png' %}">
								{% endif %}<br>
							</a>
						</div>
						<div>
							{% if user_data.is_active %}
								<h3><a href="{% url 'news:profile' user_data.pk %}" class="rubric-link">{{ user_data.username|truncatechars:10 }}</a></h3>
							{% else %}
								<span class="deleted-username">(пользователь удален)</span>
							{% endif %}
						</div>
						<div>
							<span>
								Последний вход<br>
								<b>
									{% if user_data.last_login %}
										{{ user_data.last_login }}
									{% else %}
										Никогда
									{% endif %}
								</b>
							</span>
						</div>
					</div>
				{% endfor %}
			</div>
			{% if users|length > 1 %}
				{% bootstrap_pagination page size='none' url=all %}
			{% endif %}
		</div>
		<div class="right-block">
			<div class="statistic-block read-also">
				<h3>ЧИТАЮТ СЕЙЧАС</h3><hr>
				{% for i in articles %}
					{% if not i.pk == article.pk %}
						<div class="recomendation">
							<div>
								<div><a href="{% url 'news:detail' i.pk %}">{{ i.title }}</a></div>
								<div class="icons">
									<div class="detail-icon">
										<img src="{% static 'img/views_count.png' %}" class="icon"><span>{{ i.views }}</span>
									</div>
									<a href="{% url 'news:detail' i.pk %}#comments">
										<img src="{% static 'img/comments_count.png' %}" class="icon">
										<span>{{ i.comment_set.all|length }}</span>
									</a>
									<a href="{% url 'news:detail' i.pk %}?show=liked_users">
										<img src="{% static 'img/like-index.png' %}" class="icon like-icon">
										<span>{{ i.advuser_set.all|length }}</span>
									</a>
								</div>
							</div>
							<div>
								{% if i.image %}
									<div><img src="{{ i.image.url }}" class="article-img"></div>
								{% endif %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="statistic-block index-categories">
				<h3>РУБРИКИ</h3><hr>
				{% for rubric in rubrics %}
					<a href="{% url 'news:rubric' rubric.pk %}">{{ rubric }}</a>
				{% endfor %}
			</div>
			<div class="statistic-block subscribe-profiles">
				<h3>ПОДПИСКИ</h3><hr>
				{% if user.is_authenticated %}
					{% if subscribes %}
						{% for i in subscribes %}
							<div class="subscribe-profile">
								<div>
									{% if i.avatar and i.is_active %}
										<img src="{{ i.avatar.url }}">
									{% else %}
										<img src="{% static 'img/user.png' %}">
									{% endif %}
									{% if i.is_active %}
										<a href="{% url 'news:profile' i.pk %}" class="rubric-link">{{ i.username }}</a>
									{% else %}
										<span class="deleted-username">(пользователь удален)</span>
									{% endif %}
								</div>
							</div>
						{% endfor %}
						{% if subscribes_count > 5 %}
							<div class="show-subscribes">
								<a href="{% url 'news:users' %}?show=subscribes" class="show-subscribes" align="center">Посмотреть все</a>
							</div>
						{% endif %}
					{% else %}
						<p>Вы не подписаны ни на одного пользователя</p>
					{% endif %}
				{% else %}
					<p>Вы не вошли в аккаунт</p>
				{% endif %}
			</div>
			<div class="statistic-block top-authors">
				<h3>ЛУЧШИЕ АВТОРЫ</h3><hr>
				{% for i in authors %}
					<div class="subscribe-profile">
						<div class="subscribe-avatar">
							{% if i.avatar %}
								<img src="{{ i.avatar.url }}">
							{% else %}
								<img src="{% static 'img/user.png' %}">
							{% endif %}
							<a href="{% url 'news:profile' i.pk %}" class="rubric-link">{{ i.username }}</a>
						</div>
						<div class="publication_count" title="{{ i.publications }} публикации">
							{{ i.publications }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}